<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>
    <body id="app">
        <form @submit.prevent="addTodo">
            <input v-model="newTodo" required placeholder="new todo">
            <button>Add Todo</button>
        </form>
        <ul>
            <li v-for="todo in todos" :key="todo.id" style="padding: 5px;">
                {{ todo.text }}
                <button @click="removeTodo(todo)">X</button>
            </li>
        </ul>
    </body>

    <!-- Vue.js -->
    <script>
        const { createApp, ref } = Vue

        createApp({
            setup() {
                let id = 0

                const newTodo = ref('')
                const todos = ref([
                    { id: id++, text: 'Learn HTML' },
                    { id: id++, text: 'Learn JavaScript' },
                    { id: id++, text: 'Learn Vue' }
                ])

                function addTodo() {
                    todos.value.push({ id: id++, text: newTodo.value })
                    newTodo.value = ''
                }

                function removeTodo(todo) {
                    todos.value = todos.value.filter((t) => t !== todo)
                }

                return {
                    newTodo,
                    todos,
                    addTodo,
                    removeTodo
                }
            }
        }).mount('#app')
    </script>
</html>